.app {
  display: flex;
}

.app .repo-list {
  background-color: #dedede;
  flex: 1;
}

.app .issue-list {
  background-color: #ccc;
  flex: 0;
  width: 0;
}

.app .issue-list.repo-selected {
  flex: 2;
  width: auto;
}