.app {
  /* display: flex; */
  background-color: #dedede;
  padding: 20px;
}

.main-container {
  display: flex;
  /* margin: 20px; */
  /* background-color: white; */
}


/*  Repos */
.repo-list {
  /* background-color: #dedede; */
  flex: 1;
  background-color: white;
  border-radius: 8px;
}

.repo {
  border-bottom: 1px solid #aaa;
  padding: 5px;
}

.repo-name {
  cursor: pointer;
}

.repo-name:hover {
  color: blue;
}

.repo-detail {
  padding-left: 5px;
  font-size: 12px;
}


/* Issues */
.issue-list {
  /* background-color: #ccc; */
  flex: 2;
  /* width: 0; */
  display: none;
}

.issue-list.repo-selected {
  display: block;
  /* flex: 2;
  width: auto; */
}

.issue-list.repo-selected .issue-closer {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 28px;
}

.issue {
  height: 44px;
  display: flex;
}

.issue > .issue-dragger {
  margin: auto 0px;
  padding: 0 8px;
  font-size: 16px;
}

.issue > .issue-avatar {
  height: 40px;
  width: 40px;
}

.issue > .issue-avatar img {
  max-height: 100%;
  max-width: 100%;
}

.issue .issue-detail {
  font-size: 11px;
}