.app {
  /* display: flex; */
  /* height: 100vh; */
  /* background-color: #dedede; */
  /* padding: 20px; */
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 52px;
  left: 20px;
}

.header {
  border-radius: 8px 8px 0 0;
  background-color: #111;
  /* height: 40px; */
  display: flex;
  justify-content: flex-end;
  padding: 6px;
}

.header-title {
  margin-right: auto;
  color: white;
}

.header-username {
  margin-right: auto;
  color: white;
}

.repo-fetcher {
  float: right;
}

.repo-fetcher input {
  width: 300px;
  margin-right: 5px;
}

.main-container {
  height: 100%;
  display: flex;
  background-color: #cef;
  border-radius: 0 0 8px 8px;
  /* margin: 20px; */
  /* background-color: white; */
}


/*  Repos */
.repo-list {
  /* background-color: #dedede; */
  flex: 1;
  background-color: white;
  border-radius: 0 0 8px 8px;
  overflow-y: scroll;
}

.repo-list.repo-selected {
  border-top-right-radius: 8px;
}

.repo {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #aaa;
}

.repo:hover, .repo.active:hover {
  cursor: pointer;
  background-color: #b0d1ff;
}

.repo.active {
  background-color: #cef;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.repo-details {
  padding: 5px;
}

.repo-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .repo-name:hover {
  color: blue;
} */

.repo-detail {
  padding-left: 5px;
  font-size: 10px;
}

.active-repo-indicator {
  position: absolute;
  right: 10px;
  top: 12px;
  pointer-events: none;
}


/* Issues */
.issue-list {
  /* background-color: #ccc; */
  flex: 2;
  /* width: 0; */
  display: none;
  position: relative;
  overflow-y: scroll;
}

.issue-list.repo-selected {
  display: block;
  /* flex: 2;
  width: auto; */
}

.issue-list.repo-selected .issue-closer {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 28px;
}

.issue {
  height: 40px;
  display: flex;
  border-bottom: 1px solid #aaa;
}

.issue > .issue-sorter {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  padding: 0 8px;
  font-size: 18px;
}

.issue > .issue-sorter > div:nth-child(1) {
  transform: translateY(3px);
}

.issue > .issue-sorter > div:nth-child(2) {
  transform: translateY(-3px);
}

.issue > .issue-avatar {
  height: 40px;
  width: 40px;
}

.issue > .issue-avatar img {
  height: 40px;
  width: 40px;
}

.issue .issue-title {
  font-size: 18px;
  margin: auto 0;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.issue .issue-details {
  margin: auto;
  margin-right: 46px;
  font-size: 12px;
  padding-right: 10px;
  width: 200px;
}

.issue .issue-detail.title {
  font-size: 18px;
}

.issue .issue-detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}